In [1]:
import numpy as np
import pandas as pd

In [9]:
Mountains = ['Everest', 'K2', 'Kangchenjunga', 'Lhotse', 'Makalu', 'Nuptse', 'Pumori', 'Tawachengmaa']
Heights = [8848, 8611, 8586, 8516, 8485, 8382, 8365, 8363]

pd.Series(Heights, index=Mountains, name='Mountains', dtype=float)

Everest          8848.0
K2               8611.0
Kangchenjunga    8586.0
Lhotse           8516.0
Makalu           8485.0
Nuptse           8382.0
Pumori           8365.0
Tawachengmaa     8363.0
Name: Mountains, dtype: float64